:root {
  --bg-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: #f5f5f5;
  --contrast-color: #3d464d;
  --gray-color: #ccc;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Space Mono', monospace !important;
  /* background-image: url(/assets/img/background.png);
  background-size: cover; */
  color: var(--text-color);
}

/* =================================== general ===================================  */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;  
  background-color: black;
}

main.main {
  flex: 1 1 auto;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn, .dropdown-menu, .form-control {
  border-radius: 0;
}

.form-control:focus {
  color: var(--text-color);
}



/* =================================== general ===================================  */

/* =================================== Header ===================================  */
  .header-middle {
    background-color: black;
  }

  .icons {
    font-size: x-large;
  }
  
  .logo {
    width: 15%;
  }

  .header-top-phone a{
    text-decoration: none;
  }

  .header-top-phone a:hover{
    text-decoration: underline;
  }

  .header-top .btn {
    background-color: #fff;
  }

  .btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .btn-outline-warning {
    border-color: var(--accent-color);
  }  

  .cart-buttons.btn {
    color: var(--contrast-color);
    transition: all 0.3s;
  }

  .cart-buttons .btn:hover {
    border: 1px solid;
  }


  /* Header Low */
  .header-bottom {
    border-top: var(--accent-color)  solid 3px;
    box-shadow: 5px 5px 5px 5px;
    background-color: black;
  }

  .nav-link:hover {
    color: var(--accent-color) !important;
  }
/* =================================== Header ===================================  */


/* Footer */

.footer-logo {
  width: 5%;
}

footer {
  background-color: black;
}


@media(max-width:990px){
  .icon {
    display: none;
  }
}