:root {
  --bg-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: rgb(180, 29, 54);
  --contrast-color: #3d464d;
  --gray-color: #ccc;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif !important;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* =================================== general ===================================  */

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main.main {
  flex: 1 1 auto;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn, .dropdown-menu, .form-control {
  border-radius: 0;
}

.form-control:focus {
  color: var(--text-color);
}



/* =================================== general ===================================  */

/* =================================== Header ===================================  */

  .logo {
    width: 15%;
  }

  .header-top-phone a{
    text-decoration: none;
  }

  .header-top-phone a:hover{
    text-decoration: underline;
  }

  ul.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }

  ul.social-icons li {
    margin-right: 10px;
  }

  ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s;
  }

  ul.social-icons a:hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
  }

  .header-top .btn {
    background-color: #fff;
  }

  .header-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    transition: all 0.3s;
  }

  .header-logo:hover {
    color: var(--contrast-color);
  }

  .btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .btn-outline-warning {
    border-color: var(--accent-color);
  }  

  .cart-buttons.btn {
    color: var(--contrast-color);
    transition: all 0.3s;
  }

  .cart-buttons .btn:hover {
    border: 1px solid;
  }


  /* Header Low */
  .header-bottom {
    border-top: var(--accent-color)  solid 3px;
    box-shadow: 5px 5px 5px 5px;
  }

  .nav-link:hover {
    color: var(--accent-color) !important;
  }
/* =================================== Header ===================================  */

/* Footer */

.footer-logo {
  width: 5%;
}