

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main.main {
  flex: 1 1 auto;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn, .dropdown-menu, .form-control {
  border-radius: 0;
}

.form-control:focus {
  color: var(--text-color);
}



/* =================================== general ===================================  */

/* =================================== Header ===================================  */

  .logo {
    width: 15%;
  }

  .header-top-phone a{
    text-decoration: none;
  }

  .header-top-phone a:hover{
    text-decoration: underline;
  }

  .header-top .btn {
    background-color: #fff;
  }

  .btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .btn-outline-warning {
    border-color: var(--accent-color);
  }  

  .cart-buttons.btn {
    color: var(--contrast-color);
    transition: all 0.3s;
  }

  .cart-buttons .btn:hover {
    border: 1px solid;
  }


  /* Header Low */
  .header-bottom {
    border-top: var(--accent-color)  solid 3px;
    box-shadow: 5px 5px 5px 5px;
  }

  .nav-link:hover {
    color: var(--accent-color) !important;
  }
/* =================================== Header ===================================  */


main {
  background-image: url(/assets/img/background.jpeg);
  background-size: cover;
}

.main-link {
  margin-top: 27%;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  color: #0c0c0cf8;
  border-radius: 10px;
  border-style: dashed;
  border-width: 2px;
  padding: 2%;
}

@media(max-width: 900px){
  .img-fluid {
    margin-top: 2%;
  }

  .main-link {
    margin-top: 35%;
  }
}

/* Footer */

.footer-logo {
  width: 5%;
}


