html, body {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: black;
}

.container {
  margin-top: 10%;
  padding: 20px;
  width: 40%;
  text-align: center;
}

.form-control {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: #5F3FD780 solid;
  color: white;
}

.form-control:focus {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: #5F3FD780 solid;
  box-shadow: none;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.btn {
  background-color: #5F3FD780;
  border: none;
  
}

.btn:hover {
  background-color: #5F3FD780;
}

.input-link {
  color: #5F3FD780;
}

@media(max-width:500px){
  html, body {
    font-size: 10px;
  }
}