html, body {
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}

.container {
  margin-top: 5%;
  height: max-content;
  width: 60%;
  text-align: center;
}

#input {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  border-bottom: yellow solid 1px;
  border-radius: 0;
  width: 60%;
  margin: 5% auto;
  color: white;
}

#input::placeholder {
  color: #746b6b;
}

.btn {
  width: 50%;
  margin: 0 auto;
}