html, body {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: black;
}

.container {
  margin-top: 10%;
  padding: 20px;
  width: 40%;
  text-align: center;
  border-radius: 10px;
}

.form-control {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: #94d82d solid;
  color: white;
}

.form-control:focus {
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  border-bottom: #94d82d solid;
  box-shadow: none;
  color: white;
}

.form-control::placeholder {
  color: white;
}

.btn {
  background-color: #94d82d;
  border: none;
  
}

.btn:hover {
  background-color: #94d82d;
}

.input-link {
  color: #94d82d;
}

@media(max-width:500px){
  html, body {
    font-size: 10px;
  }

  .logo {
    width: 85% !important;
  }

  .form-control {
  border-bottom: #94d82d solid 0.5px;
  }

  .reg {
    flex-direction: column;
    display: flex;
  }
}

.logo {
  width: 50%;
}